<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication_mapnavigationdrawer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/loticon"
        android:label="停車場訂位APP"
        android:roundIcon="@mipmap/loticon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.bar_action"></activity>
        <activity android:name=".FirebaseActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC_TvWB25BZdRXo1OzwsXRa87aTepckSzk" />

        <activity android:name=".ui.home.infowindow" />
        <activity
            android:name=".MainActivity"
            android:label="停場場訂位APP"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>